.colorIndex {
    color: #FDFBF6
}
.colorIndex:hover {
    color: #5D4A66;
}

html {
    font-family: "Inter", sans-serif !important;
}

div.corpse{
    flex-shrink: 1;
    background-color: rgb(224, 224, 224);
    padding: 0 !important;
    padding-left: 0% !important;
}
.bg{
    background-color: #218380;
}
.title {
    font-size: larger;
    align-items: center;
}
.fs{
    font-size: 2.5rem;
}

.fsblock {
    font-size: 1.5rem;
}


.link {
    color: #FDFBF6;
    text-decoration: none;
}
.linkTitle {
    font-size: larger;
    font-weight: 800;
    color: black;
}
#topHeader {
    display: flex;
    font-weight: 600;
    flex-direction: row;
    text-align: center;
    background-color: white;
    padding: 1%;
    padding-top: 1rem !important;
    align-items: center;
    text-align: center;
}
#namePage {
    padding: 0;
    margin: 0;
}

#container{
    padding: 2rem;
}
#menu {
    padding: 5%;
    margin-top: 2%;
    gap: 5%;
}
.errorWrapper{
    z-index: 2;
    position: absolute;
    bottom:0;
    right:20px;
}


