#alignement{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 15%;
    gap: 5%;
    margin-bottom: 2rem;
}
.innerItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%
}
.form-override {
    width: 15%;
}
.btnSubmit {
    background: #5D4A66;
    border-color: #5D4A66
}
.btnSubmit:hover{
    background-color: #FDFBF6;
    border: #FDFBF6;
    color: #5D4A66;
    font-weight: 500;
}
.btn:disabled {
     pointer-events: auto;
}